In [1]:
''' LIBRARIES '''
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import re
import time
from IPython.display import clear_output

from fuzzywuzzy import process, fuzz
from sympy import symbols, Eq, solve
import pandas as pd
import numpy as np

c:\Users\KNL\AppData\Local\Programs\Python\Python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# PINNACLE
## Prematch

In [2]:
'''                               PREMATCH pinnacle NAVIGATOR''' 


url_pin_prematch = 'https://www.pinnacle.com/en/soccer/matchups/highlights'
#changing chromedriver default options
options = Options()
options.add_argument('window-size=1920x1080') #Headless = True
options.headless = True #for not opening the navigator
#Headless = True

pin_prematch = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
pin_prematch.get(url_pin_prematch)

C:\Users\KNL\AppData\Local\Temp\ipykernel_2136\1708381777.py:11: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  pin_prematch = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [3]:
''' FUNCTION pinnacle_prematch ''' 
def pinnacle_prematch():
    i=2
    df_pre_pinnacle=pd.DataFrame(columns=['teams', '1_pin','X_pin','2_pin', 'goals',  'over','under'])
    while i<30:
        i+=1
        try:
            #home_team = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[0]
            #away_team = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[1]
            teams = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[0]+' '+pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[1]
            h_wins = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[3]
            X      = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[4]
            a_wins = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[5]
            
            goals = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[10]
            over  = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[11]
            under = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[12]
            
            df_pre_pinnacle.loc[len(df_pre_pinnacle.index)] = [teams,  h_wins, X, a_wins, goals,  over, under]

            
        except:
            pass

    return df_pre_pinnacle

In [34]:
for col in df_pinnacle_pre.columns[1:]:
    df_pinnacle_pre[col] = df_pinnacle_pre[col].astype('float64')
df_pinnacle_pre[].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   teams   20 non-null     object
 1   1_pin   20 non-null     float64
 2   X_pin   20 non-null     float64
 3   2_pin   20 non-null     float64
 4   goals   20 non-null     float64
 5   over    20 non-null     float64
 6   under   20 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.2+ KB

# Live PINNACLE

In [3]:
'''                                  PINNCALE NAVIGATOR TO THE BACKGROUND'''


url_pin = 'https://www.pinnacle.com/en/soccer/matchups/live'

#changing chromedriver default options
options = Options()
options.headless = True #for not opening the navigator
options.add_argument('window-size=1920x1080') #Headless = True
pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
pin.get(url_pin)

C:\Users\KNL\AppData\Local\Temp\ipykernel_25640\3605115053.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [45]:
'''           function LIVE PINNACLE'''


def pinnacle():
    #pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
    #pin.get(url_pin)
    j = 1 # ITS 2(AND IN THE BEGGINING OF THE LOOP IT WILL BECOME 3) BECAUSE BEFORE ARE OTHER ELEMENTS OF THE PAGE THAT WE DON'T NEED
    df_pinnacle=pd.DataFrame(columns=['teams_pin', '1_pin', 'X_pin', '2_pin','goals_pin', 'over_pin', 'under_pin'])
    B=True
    while j<45:
        j+=1
        try:
            partido = pin.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(j)).text.split('\n')
            teams = partido[0]+' '+partido[2]

            home_wins= partido[5]
            X = partido[6]
            away_wins = partido[7]

            goals = partido[12]
            under= partido[13]
            over = partido[15]
            if len(partido)==18:
                teams = partido[0]+' '+partido[3]

                home_wins= partido[6]
                X = partido[7]
                away_wins = partido[8]

                goals = partido[13]
                under= partido[14]
                over = partido[16]
            
            df_pinnacle.loc[len(df_pinnacle.index)] = [teams, home_wins, X, away_wins, goals,under, over]
            #print(teams, home_wins, X, away_wins, goals, over, under)
        except:
            pass
    #pin.quit()
    cols = ['1_pin', 'X_pin', '2_pin','goals_pin', 'over_pin', 'under_pin']
    
    for col in cols:
        for j in range(len(df_pinnacle.index)):
            if len(df_pinnacle[col].loc[j])>6:
                df_pinnacle[col].loc[j] = 1
    for col in cols:
            df_pinnacle[col]=df_pinnacle[col].astype('float64')
    
    return df_pinnacle

# MOZZARTBET
## Prematch

In [5]:
''' MOZZART PREMATCH Navigator Options'''
url_mozart_all = 'https://www.mozzartbet.com/en#/date/three_days'

options = Options()
options.add_argument('window-size=1920x1080') #Headless = True
options.headless = True #for not opening the navigator


moz_pre = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
moz_pre.get(url_mozart_all)

C:\Users\KNL\AppData\Local\Temp\ipykernel_28160\4171490382.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  moz_pre = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [ ]:
''' MOZZART PREMATCH FUNCTION ''' 
def mozzart_pre():
    df_moz_pre = pd.DataFrame(columns=['teams', '1_mz', 'X_mz', '2_mz', 'under 2.5_mz', 'over 2.5_mz'])
    element = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[4]')
    #time.sleep(10
    #print('scrolling start')

    for i in range(50):
        for j in range(40):
            try:
                element.location_once_scrolled_into_view
                element = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j))
                element2 = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')
                
                teams = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[2]+' '+moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[3]

                mz_1 = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[4]
                mz_X = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[5]
                mz_2 = moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[6]

                mz_under =  moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[10]
                mz_over =  moz_pre.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section[2]/div/div[1]/section[1]/div/div[2]/div[{}]/article[{}]'.format(i,j)).text.split('\n')[12]
                
                df_moz_pre.loc[len(df_moz_pre.index)] = [teams, mz_1, mz_X, mz_2, mz_under, mz_over]
                
                #print(teams, '       |',mz_1,'|', mz_X,'|', mz_2, '|', mz_under, '|', mz_over)
            except:
                pass
    return df_moz_pre

In [47]:
''' COLUMNS DATA TYPE and "-" replacing '''
df_mozzart_pre = df_mozzart_pre.replace('-', '1') # this is for columns containing missing odds, number 1 will make this bet not a surebet
columns = ['1_mz', 'X_mz', '2_mz', 'under 2.5_mz', 'over 2.5_mz']
for i in columns:
    df_mozzart_pre[i] = df_mozzart_pre[i].astype('float64')
df_mozzart_pre

,teams,1_mz,X_mz,2_mz,under 2.5_mz,over 2.5_mz,matches
0,Belgium Wales,1.42,4.70,9.00,2.08,1.75,"[(Belgium Wales, 100), (Bulgaria Gibraltar, 45)]"
1,Croatia Denmark,2.55,3.10,3.20,1.70,2.15,"[(Croatia Denmark, 100), (Serbia Sweden, 50)]"
2,France Austria,1.40,4.90,9.00,2.24,1.65,"[(France Austria, 100), (Armenia Ukraine, 59)]"
3,Poland Netherlands,3.60,3.50,2.15,1.95,1.85,"[(Poland Netherlands, 100), (Finland Romania, ..."
4,Scotland Ukraine,2.60,3.00,2.95,1.55,2.30,"[(Scotland Ukraine, 100), (Scotland Republic o..."
...,...,...,...,...,...,...,...
168,Queen of S. Edinburgh,1.55,4.10,4.90,2.15,1.55,"[(Serbia Sweden, 41), (Turkey Luxembourg, 41)]"
169,East Fife Stenhousemuir,2.40,3.60,2.50,1.80,1.80,"[(Croatia Denmark, 37), (France Austria, 37)]"
170,Stranraer Dumbarton,3.10,3.70,1.97,1.91,1.70,"[(Israel Albania, 48), (Armenia Ukraine, 45)]"
171,Fomat Martin Pohronie,7.00,4.40,1.40,2.70,1.40,"[(Georgia North Macedonia, 41), (Bosnia and He..."
173,Rudar V. Lendava,3.05,3.25,2.25,2.03,1.70,"[(Israel Albania, 40), (Bulgaria Gibraltar, 40)]"

# Live MOZZART

In [2]:
'''Navigator Options               MOZZART LIVE'''
options = Options()
options.headless = True #for not opening the navigator
options.add_argument('window-size=1920x1080') #Headless = True
url_mozart = 'https://www.mozzartbet.com/en#/live/sport/1'
moz = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
moz.get(url_mozart)

C:\Users\KNL\AppData\Local\Temp\ipykernel_27472\2137094076.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  moz = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [3]:
'''                                     MOZZART LIVE FUNCTION '''
def mozzart():
    #options = Options()
    #options.headless = True #for not opening the navigator
    #options.add_argument('window-size=1920x1080') #Headless = True
    #url_mozart = 'https://www.mozzartbet.com/en#/live/sport/1'
    #moz = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
    #moz.get(url_mozart)
    i=0
    df_mozart = pd.DataFrame(columns=['teams', 'final_result', 'over_under']) 
    while i<30:
        
        i=i+1
        try:
            partido = moz.find_element(By.XPATH, '/html/body/div[1]/div[1]/section/section/div[1]/section/section/div/div[1]/div/section/div/article[{}]'.format(i)).text.split('\n')
            if len(partido)==29:
                teams=partido[2]+'  '+partido[3]
                final_result= partido[10:13]
                over_under=partido[19:22]
                df_mozart.loc[len(df_mozart.index)] = [teams, final_result, over_under] 
                
                
                #print(teams, final_result, over_under)
                
            if len(partido)==27:
                teams=partido[2]+'  '+partido[3]
                final_result= partido[8:11]
                over_under=partido[17:20]
                df_mozart.loc[len(df_mozart.index)] = [teams, final_result, over_under] 
                
                #print(teams, final_result, over_under)

        except:
            break
    
    
    #moz.quit()
    
    '''
    TRANSFORMING AND REPLACING DATA
    '''
    # Spliting the numbers

    df_mozart[['1_moz', 'X_moz', '2_moz']] = df_mozart.final_result.apply(lambda x: pd.Series(str(x).split(',')))
    df_mozart[['goals_mz', 'under_mz','over_mz']] = df_mozart.over_under.apply(lambda x: pd.Series(str(x).split(',')))

    #Deleting some characters

    cols = ['1_moz', 'X_moz', '2_moz','teams','goals_mz', 'under_mz','over_mz']
    for col in cols:
        df_mozart[col]=df_mozart[col].apply(lambda x: x.replace("'",""))
        df_mozart[col]=df_mozart[col].apply(lambda x: x.replace("[",""))
        df_mozart[col]=df_mozart[col].apply(lambda x: x.replace("]",""))
        df_mozart[col]=df_mozart[col].apply(lambda x: x.replace("-","1"))
        
    col2 = cols = ['1_moz', 'X_moz', '2_moz','goals_mz', 'under_mz','over_mz']
    for col in col2:    
        df_mozart[col]= df_mozart[col].astype('float64')

    df_mozart.drop(columns=['final_result', 'over_under'], inplace=True)

    
    return df_mozart

# ---------------------------------------------------------
# SoccerBET

## LIVE

In [4]:
'''                                  SOCCERBET NAVIGATOR TO THE BACKGROUND'''


url_soc = 'https://soccerbet.rs/#live/overview'

#changing chromedriver default options
options = Options()
options.headless = True #for not opening the navigator
options.add_argument('window-size=1920x1080') #Headless = True
soc = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
soc.get(url_soc)
cancel = soc.find_element(By.XPATH, '//*[@id="promotionPopupModal"]/div/div/div/div/input')
cancel.click()

C:\Users\KNL\AppData\Local\Temp\ipykernel_27472\509003485.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  soc = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [5]:
''' SOCCERBET FUNCTION'''
def soccerbet():
    df_socc = pd.DataFrame(columns=['teams', '1_socc', 'X_socc', '2_socc', 'goals_socc', 'under_socc', 'over_socc'])
    for i in range(60):
        try:
            element = soc.find_element(By.XPATH, f'//*[@id="result-tables"]/div[2]/div[1]/table/tbody/tr[{i}]').text.split('\n')
            teams = element[1][4:].replace(':','')
            teams = re.sub('\d+','',teams)

            socc_1 = element[2].replace('-', '1')
            socc_X = element[3].replace('-', '1')
            socc_2 = element[4].replace('-', '1')

            goals_socc= element[10][:3].replace('-', '1')
            under_socc= element[8].replace('-', '1')
            over_socc=element[9].replace('-', '1')

            df_socc.loc[len(df_socc.index)] = [teams, socc_1, socc_X,socc_2, goals_socc, under_socc, over_socc]

            #print(teams, socc_1, socc_X, socc_2, '|',under_socc, over_socc)

            cols = ['1_socc', 'X_socc', '2_socc', 'goals_socc', 'under_socc',
       'over_socc']
            for c in cols:
                df_socc[c] = df_socc[c].astype('float64')
        except:
            pass
    return df_socc

In [8]:
df_soc = soccerbet()
df_soc

,teams,1_socc,X_socc,2_socc,goals_socc,under_socc,over_socc
0,Cucuta Real Santander,2.60,2.05,5.70,0.5,2.25,1.55
1,Sp. Ameliano Guairena,1.05,14.50,71.50,2.5,2.15,1.65
2,Independiente CG de Febrero,1.25,4.90,21.00,1.5,1.95,1.75
3,San Jose Turrialba,1.00,32.00,66.50,3.5,2.75,1.38
4,Sarchi Jicaral,7.25,3.45,1.60,3.5,2.70,1.40
5,Quilmes Club Almagro,3.05,2.20,3.65,2.5,2.75,1.40
6,Godoy Cruz Boca Juniors,2.95,2.60,3.10,0.5,3.75,1.23
7,Huracan Banfield,3.75,3.20,2.10,1.5,4.85,1.15
8,Nautico Sampaio Correa,1.45,4.35,8.50,1.5,4.70,1.18
9,Tepatitlan Tapatio,2.55,2.95,3.15,0.5,5.00,1.15
10,Dep. Maldonado Boston River,3.50,2.55,2.70,0.5,3.80,1.23
11,-Z UNAM Pumas W Guadalajara W,2.35,3.45,3.05,2.5,2.50,1.50

# FuzzMerge
### Pinnacle / Mozzart

In [180]:
df_pin.columns

Index(['teams_pin', '1_pin', 'X_pin', '2_pin', 'goals_pin', 'over_pin',
       'under_pin', 'matches'],
      dtype='object')

In [50]:
''' complete trial '''
s=0
while s<20:
    s+=1
    df_pin = pinnacle()
    df_moz = mozzart()


    teams_moz = df_moz.teams.tolist()
    teams_pin= df_pin.teams_pin.tolist()
    mat1 = []
    mat2 = []
    p=[]
    df_pin_moz = pd.DataFrame(columns=['teams_pin', 'teams', 'score', '1_pin', 'X_pin', '2_pin','goals_pin', 'over_pin','under_pin'])




    df_pin[['teams_matched', 'score_moz']] = df_pin.teams_pin.apply(lambda x: process.extractOne(x, teams_moz, scorer=fuzz.token_sort_ratio)).apply(pd.Series)
    df_pin = df_pin[df_pin.score_moz>65]


            
    df = pd.merge(df_pin, df_moz, left_on='teams_matched', right_on='teams')
    df = df[['teams_pin','teams_matched', '1_pin','1_moz', 'X_pin','X_moz', '2_pin','2_moz', 'goals_pin', 'over_pin','under_pin', 'goals_mz', 'under_mz', 'over_mz']]
    #creating  surebet columns
    df['Over_MOZ/ Under_Pinnacle'] = df.over_mz**-1+df.under_pin**-1
    df['Over_Pinnacle/ Under_Mozzart'] = df.over_pin**-1+df.under_mz**-1

    #Creating dataframes to store those matches in surebets
    df_surebet = df[df['Over_MOZ/ Under_Pinnacle']<1].sort_values('Over_MOZ/ Under_Pinnacle')[['teams_pin','over_mz', 'under_pin', 'Over_MOZ/ Under_Pinnacle', 'goals_mz', 'goals_pin']]
    df_surebet2  =df [df['Over_Pinnacle/ Under_Mozzart']<1].sort_values('Over_Pinnacle/ Under_Mozzart')[['teams_pin','over_pin', 'under_mz', 'Over_Pinnacle/ Under_Mozzart', 'goals_pin','goals_mz']]



    clear_output()
    display('               under pinnacle / over mozzart ',df_surebet,'               Over Pinnacle / Under Mozzart', df_surebet2,'               Matches in both sites',df[['teams_pin','teams_matched']])

'               under pinnacle / over mozzart '

Empty DataFrame
Columns: [teams_pin, over_mz, under_pin, Over_MOZ/ Under_Pinnacle, goals_mz, goals_pin]
Index: []

'               Over Pinnacle / Under Mozzart'

Empty DataFrame
Columns: [teams_pin, over_pin, under_mz, Over_Pinnacle/ Under_Mozzart, goals_pin, goals_mz]
Index: []

'               Matches in both sites'

                               teams_pin             teams_matched
0  Boyaca Patriotas CD Alianza Petrolera  Patriotas  Al. Petrolera
1                Titanes Fc Angostura FC  Titanes Fc  Angostura Fc

In [31]:
df_pin_moz = pd.DataFrame(columns=['teams_pin', 'teams', 'score', '1_pin', 'X_pin', '2_pin','goals_pin', 'over_pin','under_pin'])


df_pin[['teams_matched', 'score_moz']] = df_pin.teams_pin.apply(lambda x: process.extractOne(x, teams_moz, scorer=fuzz.token_sort_ratio)).apply(pd.Series)
df_pin[df_pin.score_moz>65]

In [21]:
pd.merge(df_pin, df_moz, left_on='teams_matched', right_on='teams')

,teams_pin,1_pin,X_pin,2_pin,goals_pin,over_pin,under_pin,matches,teams_matched,score_moz,teams,1_moz,X_moz,2_moz,goals_mz,under_mz,over_mz
0,Australia New Zealand,1.133,7.19,59.21,1.5,2.470,1.591,"[(Australia New Zealand, 100), (Baltika Kalin...",Australia New Zealand,100,Australia New Zealand,1.07,7.84,108.00,1.5,1.29,3.09
1,Rangers SC Vatika FC,27.010,11.14,1.03,3.5,1.757,1.917,"[(Rangers Fc Vatika Fc, 85), (Nurnberg St. G...",Rangers Fc Vatika Fc,85,Rangers Fc Vatika Fc,54.00,14.70,1.03,3.5,1.91,1.76

In [166]:
df[['teams','Over_MOZ/ Under_Pinnacle','Over_Pinnacle/ Under_Mozzart']]

,teams,Over_MOZ/ Under_Pinnacle,Over_Pinnacle/ Under_Mozzart
0,Scotland Ukraine,0.965204,1.166608
1,Cortulua Depor. Cali,1.087662,1.038228
2,Uruguay De Coronado San Jose Fc,1.500000,1.551572
3,Cray Wanderers Hastings United Fc,0.975272,1.156651
4,Sportivo Penarol Sol De Mayo (viedma),1.047395,1.115827

In [16]:
df_soc.head()

,teams,1_socc,X_socc,2_socc,goals_socc,under_socc,over_socc
0,Cucuta Real Santander,2.40,2.25,5.40,0.5,2.60,1.43
1,Sp. Ameliano Guairena,1.35,4.40,14.50,1.5,2.60,1.43
2,Independiente CG de Febrero,1.33,4.55,16.00,1.5,2.25,1.55
3,San Jose Turrialba,1.00,25.00,66.50,3.5,3.60,1.25
4,Sarchi Jicaral,6.20,3.70,1.65,3.5,3.00,1.35

## Soccerbet / Mozzartbet

In [7]:
for j in range(10):
    df_soc = soccerbet()
    df_moz = mozzart()

    teams_soc = df_soc.teams.tolist()
    teams_moz = df_moz.teams.tolist()


    #HERE I CREATE A NEW COLUMN
    df_soc[['teams_matched', 'score_moz']] = df_soc.teams.apply(lambda x:process.extractOne(x, teams_moz, scorer=fuzz.token_sort_ratio)).apply(pd.Series)
    df_soc = df_soc[df_soc.score_moz>59]

    ''' MERGING TWO DATAFRAMES'''
    df_soc[['teams', 'teams_matched','score_moz']].sort_values('score_moz')
    df_soc_moz = pd.merge(df_moz, df_soc, left_on='teams',right_on='teams_matched',  how='right' )
    df_soc_moz = df_soc_moz[['teams_x' , 'goals_socc', 'goals_mz' , 'over_mz' , 'under_socc',  'over_socc', 'under_mz' ]]
    
    ''' CALCULATING SUREBETS FOR UNDER/OVER GOALS '''
    df_soc_moz['OVER_MOZART / UNDER SOCC'] = df_soc_moz.over_mz**-1+df_soc_moz.under_socc**-1
    df_soc_moz['OVER SOCC / UNDER_MOZART'] = df_soc_moz.over_socc**-1 + df_soc_moz.under_mz**-1
    
    df1 = df_soc_moz.sort_values('OVER_MOZART / UNDER SOCC')[['teams_x', 'goals_socc', 'goals_mz' , 'over_mz', 'under_socc', 'OVER_MOZART / UNDER SOCC']]
    df2 = df_soc_moz.sort_values('OVER SOCC / UNDER_MOZART')[['teams_x', 'goals_socc', 'goals_mz' , 'over_socc', 'under_mz', 'OVER SOCC / UNDER_MOZART']]
    #time.sleep(0.5)
    clear_output()
    display(df1, df2)
    print(j)

,teams_x,goals_socc,goals_mz,over_mz,under_socc,OVER_MOZART / UNDER SOCC
11,Colegiales Talleres Rem.,1.5,2.5,2.65,2.85,0.728236
18,Barcelona B Fc Real Murcia Cf,1.5,2.5,2.40,3.20,0.729167
16,Cimarrones De Sonora Fc Ii Tritones Vallarta Mfc,0.5,1.5,2.40,3.15,0.734127
19,Ce Manresa Atletico Saguntino,1.5,2.5,2.55,2.90,0.736984
12,Comunicacio. Deportivo Ar.,0.5,1.5,2.70,2.70,0.740741
17,Figueirense Fc Sc Camboriu Sc U20,3.5,4.5,1.67,5.60,0.777374
13,Corinthians W Internacional W,3.5,4.5,1.86,4.05,0.784548
15,Senegal Bolivia,1.5,2.5,1.67,4.85,0.804988
2,Defensa Just. Patronato,3.5,3.5,3.33,1.33,1.052180
3,Sarmiento Ars. Sarandi,2.5,2.5,5.00,1.15,1.069565
8,Cf Malaga Villarreal Cf B,2.5,2.5,1.52,2.35,1.083427
9,Ponferradina Tenerife,2.5,2.5,1.67,2.05,1.086607
0,Slovenia Norway,3.5,3.5,7.10,1.05,1.093226
6,As Sale Widad Sportive Tamara,3.5,3.5,3.23,1.27,1.096999
10,Atl. Madrid B Ud Montijo,2.5,2.5,1.42,2.50,1.104225
5,De Trefers Koninklijke Hfc,5.5,5.5,3.68,1.20,1.105072
4,Ivory Coast Togo,3.5,3.5,3.68,1.20,1.105072
14,Romania M19 Lithuania M19,1.5,1.0,1.00,2.60,1.384615
7,Gimnastica Segoviana Cd Don Benito,0.5,1.0,1.00,1.13,1.884956
1,Northern Ireland Kosovo,3.5,1.0,1.00,1.03,1.970874

,teams_x,goals_socc,goals_mz,over_socc,under_mz,OVER SOCC / UNDER_MOZART
10,Atl. Madrid B Ud Montijo,2.5,2.5,1.48,2.55,1.067833
9,Ponferradina Tenerife,2.5,2.5,1.68,2.11,1.069172
8,Cf Malaga Villarreal Cf B,2.5,2.5,1.53,2.40,1.070261
2,Defensa Just. Patronato,3.5,3.5,3.10,1.29,1.097774
3,Sarmiento Ars. Sarandi,2.5,2.5,4.05,1.16,1.108983
5,De Trefers Koninklijke Hfc,5.5,5.5,3.35,1.23,1.111516
1,Northern Ireland Kosovo,3.5,1.0,8.75,1.00,1.114286
6,As Sale Widad Sportive Tamara,3.5,3.5,3.00,1.27,1.120735
0,Slovenia Norway,3.5,3.5,7.75,1.00,1.129032
4,Ivory Coast Togo,3.5,3.5,3.35,1.20,1.131841
7,Gimnastica Segoviana Cd Don Benito,0.5,1.0,4.45,1.00,1.224719
15,Senegal Bolivia,1.5,2.5,1.15,2.01,1.367078
17,Figueirense Fc Sc Camboriu Sc U20,3.5,4.5,1.15,2.01,1.367078
13,Corinthians W Internacional W,3.5,4.5,1.20,1.76,1.401515
18,Barcelona B Fc Real Murcia Cf,1.5,2.5,1.30,1.52,1.427126
12,Comunicacio. Deportivo Ar.,0.5,1.5,1.40,1.37,1.444213
19,Ce Manresa Atletico Saguntino,1.5,2.5,1.35,1.42,1.444966
11,Colegiales Talleres Rem.,1.5,2.5,1.38,1.37,1.454565
16,Cimarrones De Sonora Fc Ii Tritones Vallarta Mfc,0.5,1.5,1.30,1.44,1.463675
14,Romania M19 Lithuania M19,1.5,1.0,1.43,1.00,1.699301

9

In [79]:
df_soc_moz.sort_values('OVER_MOZART / UNDER SOCC')

,teams_x,goals_socc,goals_mz,over_mz,under_socc,over_socc,under_mz,OVER_MOZART / UNDER SOCC,OVER SOCC / UNDER_MOZAR
1,Huracan Ar. Banfield,3.5,4.5,2.70,2.85,1.35,1.42,0.721248,1.444966
4,Dep. Maldonado Boston River,1.5,2.5,2.79,2.75,1.40,1.34,0.722059,1.460554
2,Nautico Sampaio Corr.,2.5,3.5,2.50,2.85,1.38,1.42,0.750877,1.428863
3,Tepatitlan Fc Cd Tapatio,3.5,4.5,2.21,3.35,1.27,1.54,0.750996,1.436752
5,Unam W Guadalajara W,2.5,3.5,2.25,3.10,1.30,1.52,0.767025,1.427126
6,Antofagasta U. Espanola,1.5,2.5,1.96,3.00,1.35,1.67,0.843537,1.339543
0,Godoy Cruz Boca Juniors,1.5,1.0,1.00,2.85,1.38,1.00,1.350877,1.724638

In [61]:
df = pd.merge(df_moz, df_soc, on='teams', how='left' )
#df = df[['teams_matched','1_socc','X_socc','2_socc','goals_socc','under_socc','over_socc','1_socc','X_socc','2_socc','goals_socc','under_socc','over_socc']]
df

KeyError: 'teams_matched'

In [75]:
teams_mozzart = df_mozzart_pre['teams'].tolist()
teams_pinnacle = df_pinnacle_pre.teams.tolist()
#empty list for storing matchs later
mat1 = []
mat2 = []
p=[]

threshold = 82
for i in teams_pinnacle:
    mat1.append(process.extract(i, teams_mozzart,scorer=fuzz.token_sort_ratio ))
df_pinnacle_pre['matches'] = mat1

for idx, row in enumerate(df_pinnacle_pre.matches):
    for k in row:
        if k[1]>60:
            print(df_pinnacle_pre.loc[[idx]].teams.values,'|', k[0], k[1])

['Scotland Ukraine'] | Scotland Ukraine 100
['Armenia Ukraine'] | Scotland Ukraine 65
['Armenia Ukraine'] | France Austria 62
['Israel Albania'] | Alianza Lima Melgar 61
['Kazakhstan Belarus'] | Kazakhstan Belarus 100
['Lithuania Faroe Island'] | Lithuania Faroe I. 87
['Slovakia Azerbaijan'] | Slovakia Azerbaijan 100
['Turkey Luxembourg'] | Turkey Luxembourg 100
['Poland Netherlands'] | Poland Netherlands 100
['Belgium Wales'] | Belgium Wales 100
['Croatia Denmark'] | Croatia Denmark 100
['France Austria'] | France Austria 100