In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time

import pandas as pd
import numpy as np

# PINNACLE

### PREMATCH

In [8]:
'''                               PREMATCH pinnacle NAVIGATOR''' 


url_pin_prematch = 'https://www.pinnacle.com/en/soccer/matchups/highlights'
#changing chromedriver default options
options = Options()
options.add_argument('window-size=1920x1080') #Headless = True
options.headless = True #for not opening the navigator
#Headless = True

pin_prematch = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
pin_prematch.get(url_pin_prematch)

C:\Users\KNL\AppData\Local\Temp\ipykernel_17676\1708381777.py:11: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  pin_prematch = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [9]:
''' SCRAPE AND LOAD INTO df_pre_pinnacle ''' 
def pinnacle_prematch():
    i=2
    df_pre_pinnacle=pd.DataFrame(columns=['teams', '1_pin','X_pin','2_pin', 'goals',  'over','under'])
    while i<30:
        i+=1
        try:
            #home_team = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[0]
            #away_team = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[1]
            teams = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[0:2]
            h_wins = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[3]
            X      = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[4]
            a_wins = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[5]
            
            goals = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[10]
            over  = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[11]
            under = pin_prematch.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')[12]
            
            df_pre_pinnacle.loc[len(df_pre_pinnacle.index)] = [teams,  h_wins, X, a_wins, goals,  over, under]

            
        except:
            pass

    return df_pre_pinnacle
    pinnacle_prematch()

# LIVE

In [59]:
'''                                  PINNCALE NAVIGATOR TO THE BACKGROUND'''


url_pin = 'https://www.pinnacle.com/en/soccer/matchups/live'

#changing chromedriver default options
options = Options()
options.headless = True #for not opening the navigator
options.add_argument('window-size=1920x1080') #Headless = True
pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
pin.get(url_pin)

C:\Users\KNL\AppData\Local\Temp\ipykernel_17676\3233977398.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [100]:
'''           function LIVE PINNACLE'''


def pinnacle():
    #pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
    #pin.get(url_pin)
    j = 1 # ITS 2(AND IN THE BEGGINING OF THE LOOP IT WILL BECOME 3) BECAUSE BEFORE ARE OTHER ELEMENTS OF THE PAGE THAT WE DON'T NEED
    df_pinnacle=pd.DataFrame(columns=['teams_pin', '1_pin', 'X_pin', '2_pin','goals_pin', 'over_pin', 'under_pin'])
    B=True
    while j<45:
        j+=1
        try:
            partido = pin.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(j)).text.split('\n')
            teams = partido[0]+' '+partido[2]

            home_wins= partido[5]
            X = partido[6]
            away_wins = partido[7]

            goals = partido[12]
            under= partido[13]
            over = partido[15]
            if len(partido)==18:
                teams = partido[0]+' '+partido[3]

                home_wins= partido[6]
                X = partido[7]
                away_wins = partido[8]

                goals = partido[13]
                under= partido[14]
                over = partido[16]
            
            df_pinnacle.loc[len(df_pinnacle.index)] = [teams, home_wins, X, away_wins, goals,under, over]
            #print(teams, home_wins, X, away_wins, goals, over, under)
        except:
            pass
    #pin.quit()
#    cols = ['1_pin', 'X_pin', '2_pin','goals_pin', 'over_pin', 'under_pin']
#    for col in cols:
#        df_pinnacle_pre[col]=df_pinnacle_pre[col].astype('float64')
    return df_pinnacle
pinnacle()

,teams_pin,1_pin,X_pin,2_pin,goals_pin,over_pin,under_pin
0,VfV Borussia Hildesheim Osnabruck,12.790,5.780,1.236,2.75,1.787,2.070
1,NK Lucko Zagreb NK HASK Zagreb,1.653,2.820,5.570,3.5,1.952,1.729
2,NK Ravnice NK Ponikve,2.680,1.980,3.830,1,2.020,1.675
3,FC Libisany FC Vysocina Jihlava,9.470,1.549,2.740,2.5,2.160,1.625
4,SK Benatky Nad Jizerou FK Varnsdorf,8.360,1.520,3.420,2.5,2.390,1.591
5,SK Hanacka Slavia Kromeriz FC Banik Ostrava,8.550,1.578,3.140,6.5,2.250,1.657
6,Tj Slovan Bzenec MFK Karvina,8.620,3.990,1.421,3.75,1.854,1.970
7,KFC Kalna Nad Hronom Spartak Myjava,78.930,10.250,1.058,1.5,2.610,1.485
8,Azerbaijan Bulgaria,9.220,1.370,4.590,0.5,3.000,1.408
9,Albania Belgium,10.780,2.800,1.636,3,1.719,2.150
10,FC Viktoria 1889 Berlin FC Hansa Rostock II,1.272,5.450,10.100,3.25,2.040,1.800
11,SC Verl SC Wiedenbr√ºck,1.862,3.740,3.550,3,1.961,1.826
12,Molino Viejo Medellin City FC,3.140,2.820,2.320,2,1.806,1.934
13,Al-Salmiya SC Burgan SC,1.609,3.460,5.100,4.25,1.833,1.909
14,Al Kuwait SC Yarmouk,1.510,3.740,5.250,2.5,1.980,1.746
15,Alia Club Bla'ama SC,22.360,4.810,1.233,1.5,2.280,1.641
16,AL Sarhan Ittihad AL Ramtha,25.370,5.430,1.176,3.5,2.580,1.495
17,Al-Ahly Amman Al-Jalil,1.153,6.100,37.000,1.5,2.910,1.420
18,Pilica Bialobrzegi MKS Swit Nowy Dwor Mazowiecki,7.100,1.431,3.770,2.5,2.550,1.476
19,Hodd 2 Raufoss IL 2,1.389,4.350,6.400,3,1.840,1.900
20,Csd Comunicaciones II Juventud Pinulteca,1.266,4.900,13.680,2.25,1.943,1.877

In [98]:
len(pin.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[13]').text.split('\n'))

18

# ---------------------------

# Tennis

### PREMATCH

In [ ]:
''' TENIS NAVIGATOR '''
options = Options()
options.headless = True #for not opening the navigator
options.add_argument('window-size=1920x1080') #Headless = True

url_pin_tenis = 'https://www.pinnacle.com/en/tennis/matchups'
pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
pin.get(url_pin_tenis)

In [ ]:
for i in range(50):
    try:
        element = pin.find_element(By.XPATH, f'/html/body/div[2]/div/div[2]/main/div/div[2]/div/div[{i}]')
        print(element.text.split('\n'))
        print(i)
    except:
        pass

In [136]:
element = pin.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div/div[2]/div/div/div[9]/div').text.split('\n')
players=element[0]+' vs '+element[1]
p1 = element[3]
p2= element[4]

over_25 = element[10]
under_25=element[12]
print(players, '|', p1,p2,'|',over_25,under_25)

Elena Rybakina (Sets) vs Liudmila Samsonova (Sets) | 2.250 1.699 | 2.570 1.520

In [55]:
def pin_tenis_pre():

    ''' TENIS NAVIGATOR '''
    options = Options()
    options.headless = True #for not opening the navigator
    options.add_argument('window-size=1920x1080') #Headless = True

    url_pin_tenis = 'https://www.pinnacle.com/en/tennis/matchups'
    pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)
    pin.get(url_pin_tenis)

    '''  DATAFRAME LOAD''' 
    
    df_pin_tenis=pd.DataFrame(columns=['Players', 'P1', 'P2', 'Over 2.5 sets', 'Under 2.5 sets'])
    players=[]
    for j in range(80):

        for i in range(20):
            try:
                player1 = pin.find_element(By.XPATH, '//div[@data-test-id="Browse-SportMatchups"]/div[contains(@class, "contentBlock sq")]/div/div[{}]'.format(i)).text.split('\n')[0]
                player2 = pin.find_element(By.XPATH, '//div[@data-test-id="Browse-SportMatchups"]/div[contains(@class, "contentBlock sq")]/div/div[{}]'.format(i)).text.split('\n')[1]
                if 'Sets' in player1:
                    if 'Sets' in player2:
                        partido = pin.find_element(By.XPATH, '//div[@data-test-id="Browse-SportMatchups"]/div[contains(@class, "contentBlock sq")]/div/div[{}]'.format(i)).text.split('\n')
                        jugadores = player1+' '+player2
                        
                        p1=partido[3]
                        p2=partido[4]

                        over_25=partido[10]
                        under_25=partido[12]

                        df_pin_tenis.loc[len(df_pin_tenis.index)] = [ jugadores, p1,p2 ,over_25,under_25 ]
                        element = pin.find_element(By.XPATH, '//div[@data-test-id="Browse-SportMatchups"]/div[contains(@class, "contentBlock sq")]/div/div[10]')
                        element.location_once_scrolled_into_view
                        
            except:
                pass

  
            try:
                element = pin.find_element(By.XPATH, f'/html/body/div[2]/div/div[2]/main/div/div[2]/div/div[{i}]').text.split('\n')

                players= element[0]+' '+element[1]
                

                p1=element[4]
                p2=element[5]

                over_25=element[10]
                under_25= element[12]
                df_pin_tenis.loc[len(df_pin_tenis.index)] = [ players, p1,p2 ,over_25,under_25 ]
                
                
            except:
                pass   
        time.sleep(0.02)

    pin.quit()  
    return df_pin_tenis.drop_duplicates()

In [56]:
pin_tenis_pre()

C:\Users\KNL\AppData\Local\Temp\ipykernel_17676\105670457.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

,Players,P1,P2,Over 2.5 sets,Under 2.5 sets
0,ATP METZ - R1 MONEY LINE,UNDER,Ugo Humbert (Sets),-1.5,+1.5

In [9]:
element = pin.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div/div[3]')
element.text.split('\n')

['Paula Badosa (Sets)',
 'Qinwen Zheng (Sets)',
 '22:00',
 '2.090',
 '1.819',
 '+1.5',
 '1.460',
 '-1.5',
 '2.860',
 '2.5',
 '2.500',
 '2.5',
 '1.555',
 '+9']

In [170]:
df.drop_duplicates('Players')

,Players,P1,P2,Over 2.5 sets,Under 2.5 sets
0,Taro Daniel (Sets) Emilio Nava (Sets),1.746,2.190,2.280,1.653
1,Denis Kudla (Sets) Fernando Verdasco (Sets),1.598,2.450,2.210,1.680
2,Brandon Nakashima (Sets) Zachary Svajda (Sets),1.138,6.490,3.390,1.327
3,Elena Rybakina (Sets) Liudmila Samsonova (Sets),2.330,1.657,2.610,1.505
4,Paula Badosa (Sets) Qinwen Zheng (Sets),2.090,1.800,2.510,1.540
5,Despina Papamichail (Sets) Garbine Muguruza (S...,8.610,1.094,4.240,1.232
6,Patrick Kypson (Sets) Dominic Stephan Stricker...,3.660,1.290,2.670,1.485
7,Omni Kumar (Sets) Tennys Sandgren (Sets),4.450,1.215,2.720,1.469
8,Jordan Thompson (Sets) Charles Broom (Sets),1.239,4.060,2.850,1.425
15,Alejo Lorenzo Lingua Lavallen (Sets) Camilo Ug...,3.680,1.280,2.820,1.434
16,Jack Pinnington Jones (Sets) Luciano Tacchi (S...,1.087,6.640,4.090,1.211
18,Facundo Diaz Acosta (Sets) Matias Franco Desco...,1.185,4.800,3.080,1.373
21,Tadeas Paroulek (Sets) Hunter Heck (Sets),1.414,2.750,2.890,1.381
23,Alessio Basile (Sets) Radu Mihai Papoe (Sets),5.150,1.143,3.380,1.290
24,Menelaos Efstathiou (Sets) Tyler Zink (Sets),1.636,2.180,2.650,1.444
25,Alexander Petrov (Sets) Benedikt Emesz (Sets),1.182,4.470,3.240,1.313
29,Alice Robbe (Sets) Katie Volynets (Sets),5.210,1.140,3.130,1.331
30,Maegan Manasse (Sets) Renata Zarazua (Sets),1.645,2.170,2.480,1.500
31,Urszula Radwanska (Sets) Elvina Kalieva (Sets),2.320,1.564,2.480,1.502
32,Greet Minnen (Sets) Peyton Stearns (Sets),1.645,2.170,2.620,1.452
37,Whitney Osuigwe (Sets) Marcela Zacarias (Sets),1.666,2.130,2.500,1.492
41,Maria Camila Torres Murcia (Sets) Sofia Da Cru...,1.515,2.440,2.360,1.549

#  tennis LIVE

In [4]:
''' TENIS NAVIGATOR '''
options = Options()
options.headless = True #for not opening the navigator
#options.add_argument('window-size=1920x1080') #Headless = True
url_pin_tenis = 'https://www.pinnacle.com/en/tennis/matchups/live/'
pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

pin.get(url_pin_tenis)
pin.set_window_size(1920, 1080)

C:\Users\KNL\AppData\Local\Temp\ipykernel_20332\2286473991.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  pin = webdriver.Chrome(r'C:\Users\KNL\Desktop\Ale\Upwork\Scraping_bets\chromedriver.exe', options=options)

In [40]:
''' tenis live function'''
def pinnacle_tenis():
    df_pin_tenis = pd.DataFrame(columns=['players_pin', '1_pin', '2_pin', 'games_pin','over_pin', 'under_pin'])
    for i in range(50):
        try:
            elemento = pin.find_element(By.XPATH, '/html/body/div[2]/div/div[2]/main/div/div[2]/div[{}]'.format(i)).text.split('\n')
            #print(elemento)
            if len(elemento)>=6:
                if 'Sets' in elemento[0]:
                    players = elemento[0].replace('(Sets)','')+' vs '+elemento[1].replace('(Sets)','')
                    pin_1 = elemento[-3]
                    pin_2 = elemento[-2]
                    #print(players, '   ||  ', elemento[-3],'|', elemento[-2])
                    #print('/*********', i)
                if 'Games' in elemento[0]:
                    #print(elemento[-4], '|', elemento[-2],'|', elemento[-3])
                    games_pin = elemento[-3]
                    over_pin = elemento[-4]
                    under_pin = elemento[-2]
                    #print('-------------------')
                df_pin_tenis.loc[len(df_pin_tenis.index)] = [players, pin_1, pin_2, games_pin, over_pin, under_pin]
        except:
            pass
    return df_pin_tenis.drop_duplicates('players_pin')

In [43]:
pinnacle_tenis()

,players_pin,1_pin,2_pin,games_pin,over_pin,under_pin
0,Hernan Casanova vs Facundo Bagnis,6.150,1.160,19.5,2.010,1.793
1,Rinky Hijikata vs Dominic Stephan Stricker,6.150,1.160,19.5,2.010,1.793
3,Aleksandar Vukic vs Cannon Kingsley,2.780,1.465,19.5,1.781,2.020
5,Kajsa Rinaldo Persson vs Marie Benoit,1.699,2.180,22.5,1.934,1.847
7,Tena Lukas vs Aliona Bolsova Zadoinov,3.660,1.310,26.5,1.806,1.990
9,Edoardo Lavagno vs Giovanni Calvano,1.137,7.030,27.5,1.813,1.980